<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Privacy - Health Share" and select "Privacy - Health Share Usage Description</key>
	<string>Read resting heart rate to detect early thyroid changes</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
		<string>processing</string>
	</array>
</dict>
</plist>
